<?php
// config.php - Конфигурация подключения к базе данных
define('DB_HOST', 'Ub2');
define('DB_USER', 'root');        // ваш пользователь MySQL
define('DB_PASS', '123456');            // ваш пароль MySQL
define('DB_NAME', 'test_db');     // имя вашей базы данных
?>
